@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>个人DIY工具系统</title>
    <meta charset="utf-8" />
    <link href="@(BasePath + "/Content/css/Layout.css")" rel="stylesheet" />
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="@(BasePath + "Content/js/Layout.js")"></script>
</head>
<body class="skin-blue">
    <div class="navbar navbar-duomi navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@(BasePath + "home/index")" id="logo">
                    个人DIY工具系统
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                    <li class="active">
                        <a href="javascript:void(0);" data-href="@(BasePath+"EasyUi/index")" class="ajax-link">
                            <i class="glyphicon glyphicon-th-large"></i>
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            系统管理
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="javascript:void(0);" data-href="@(BasePath+"EasyUi/index")" class="ajax-link"><i class="glyphicon glyphicon-user"></i>EasyUi控件展示</a></li>
                            <li><a href="javascript:void(0);"><i class="glyphicon glyphicon-th-list"></i>菜单管理</a></li>
                            <li><a href="javascript:void(0);"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>
                            <li><a href="javascript:void(0);"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                            <li><a href="javascript:void(0);"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-credit-card"></i>
                            物料管理
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-globe"></i>
                            分发配置
                            <span class="label label-warning pull-right">5</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-calendar"></i>
                            图表统计
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-fire"></i>
                            关于系统
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10" id="layouttabcontent">
                主窗口
            </div>
        </div>
    </div>
    <footer class="footer" style="height:36px;border-top:1px solid #E7EAEC;background-color:#ffffff;">
        <div class="pull-right" style="line-height:36px;font-size:12px;color:#5986BB;padding-right:10px;">Copyright ⓒ 2016-2017 版权所有 大亮哥.</div>
    </footer>
</body>
</html>
